<h1>Datos Producto</h1>

<ul>
    <li>Titulo: {{product.title}}</li>
    <li>Descripción: {{product.description}}</li>
    <li>Código: {{product.code}}</li>
    <li>Precio: {{product.price}}</li>
    <li>Status: {{product.status}}</li>

</ul>