<h1>Datos Producto</h1>

<ul>
    <li>Id: {{product.id}}</li>
    <li>Titulo: {{product.title}}</li>
    <li>Descripción: {{product.description}}</li>
    <li>Código: {{product.code}}</li>
    <li>Precio: {{product.price}}</li>
    <li>Status: {{product.status}}</li>
    <li>Cantidad en stock: {{product.stock}}</li>
    <li>Categoría: {{product.category}}</li>


</ul>